input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
body .modal {
  display: block;
}
.bs-callout-info {
  /*background-color: #f6f6f6;
  border-color: #ccf85d;*/

}
/*@media screen and (max-width: 992px) {
    .bs-sidebar .nav .nav {
        display: block;

        margin-bottom: 8px;
    }
}*/
.avatar {
  width: 43px;
  height: 43px;
  background-color: #00719e;
  border: 1px solid #fff;
  margin-right: 10px;
}
.auth {
  margin-top: 6px;
}
.auth .name {
  color: #fff;
  font-weight: bold;
}
.auth .links {
  display: block;
  color: #fff;
}
.auth .links a {
  color: #fff;
}
.btn i {
  margin-right: 7px;
}
input.ng-pristine + ul#strength {
  display: none;
}
ul#strength {
  display: inline;
  list-style: none;
  margin: 0;
  margin-left: 15px;
  padding: 0;
  vertical-align: 2px;
}
.point:last {
  margin: 0 !important;
}
.point {
  background: #DDD;
  border-radius: 2px;
  display: inline-block;
  height: 15px;
  margin-right: 1px;
  width: 20px;
}
.btn-fade:hover,
.btn-fade.active {
  opacity: 1;
  transition: opacity 0.5s;
}
.btn-fade {
  opacity: 0.4;
  transition: opacity 0.5s;
}
.bs-sidenav {
  background-color: #F7F7F7;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #00719e;
  background-color: transparent;
  border-right: 3px solid #0091be;
}
.bs-sidebar .nav > li > a {
  color: #00719e;
}
.navbar-brand {
  padding: 0;
  margin-top: 0px;
}
.navbar-brand img {
  height: 55px;
  margin-left: 18px;
}
.page-header {
  border: 0;
  margin: 0;
}
legend {
  margin: 20px 0;
}
.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  border-top: 0;
}
.table tbody + tbody {
  border-top: 0;
}
.integration {
  background-color: gray;
}
.integration.success {
  background-color: green;
}
.integration.fail {
  background-color: red;
}
/*#main {
    //overflow: auto;    
    margin-bottom: 0px;
    padding-bottom:200px;
}



.footer {
    position: relative;
    margin-top: -242px; 
    height: 220px;
    clear: both;
    padding-top: 20px;
    background-color: #191919;
}*/
.btn-login {
  width: 100%;
  margin-bottom: 4px;
  padding-right: 100px;
}
.bs-sidebar .nav .nav {
  display: block;
}
/*a {
    text-decoration: none;
    display: block;
    width: 330px;
    height: 228px;
    float: left;
    margin: 0 3px 3px 0;
    opacity: 1;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
a:hover {
    opacity: .7;
    -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
}*/
/*h1, h2, h3, h4, h5, h6 {
    position: relative;
}

    h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
        position: absolute;
        top: -90px;
    }*/
.bs-header h1 {
  color: #fff;
  text-shadow: 1px 1px #000000;
}
.bs-header {
  text-shadow: 1px 1px #000000;
}
.bs-header {
  background-image: url('/Application/Images/jumbotronbg3.png');
  background-position: top;
  background-size: auto;
  background-attachment: fixed;
  margin-top: -10px;
  color: #eef;
  height: 200px;
  border-bottom: 4px solid #0083ac;
}
