
/* identifier */
span.i { color:#d1d1d1; }
/* string */
span.s { color:#d4b43c; }
/* keywords */
span.k { color:#6eb8fc; }
span.kt { color:#6eb8fc; }
/* comment */
span.c { color:#96C71D; }
span.c1 { color:#96C71D; }
/* operators */
span.o { color:#af75c1; }
/* numbers */
span.n { color:#FFFFFF; }
span.nc { color:#FFFae0; }
span.nf { color:#FFFae0; }
span.nv { color:#FFFae0; }
span.nn { color:#FFFae0; }
/* line number */
span.l { color:#80b0b0; }

/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep { color:#af75c1; }
/* fsi output */
span.fsi { color:#808080; }

/* omitted */
span.omitted {
	background:#3c4e52;
  border-radius:5px;
	color:#808080;
	padding:0px 0px 1px 0px;
}
/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font:11pt 'Droid Sans', arial, sans-serif;
	padding:6px 8px 6px 8px;
	display:none;
  color:#d1d1d1;
}
div.highlight pre {
  padding:0px;
  margin:0px;
  border:none;
}
div.highlight, pre.fssnip, pre {
  line-height:13pt;
  border:1px solid #d8d8d8;
  border-collapse:separate;
  white-space:pre;
  font: 9pt 'Droid Sans Mono',consolas,monospace;
  margin:10px 20px 20px 20px;
  background-color:#212d30;
  padding:10px;
  border-radius:5px;
  color:#d1d1d1;
  margin-left:0px;
  margin-right:0px;
}
div.highlight pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
div.highlight td {
  padding:0px;
  white-space:normal;
  margin:0px;
}

/*--------------------------------------------------------------------------
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

pre {
    word-wrap: inherit;
}


/*--------------------------------------------------------------------------
  Formatting for API reference
/*--------------------------------------------------------------------------*/

.type-list .type-name, .module-list .module-name {
  width:25%;
  font-weight:bold;
}
.member-list .member-name {
  width:35%;
}
#main .xmldoc h2 {
  font-size:14pt;
  margin:10px 0px 0px 0px;
}
#main .xmldoc h3 {
  font-size:12pt;
  margin:10px 0px 0px 0px;
}
.github-link {
  float:right;
  text-decoration:none;
}
.github-link img {
  border-style:none;
  margin-left:10px;
}
.github-link .hover { display:none; }
.github-link:hover .hover { display:block; }
.github-link .normal { display: block; }
.github-link:hover .normal { display: none; }

/*--------------------------------------------------------------------------
  Additional formatting for the homepage
/*--------------------------------------------------------------------------*/

#nuget {
  margin-top:20px;
  font-size: 11pt;
  padding:20px;
}

#nuget pre {
  font-size:11pt;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #404040;
  border-style:none;
  color: #e0e0e0;
  margin-top:15px;
}

/*
blockquote {
  padding: 3px 3px 3px 15px;
  border-left: 5px solid #E02000;
  background-color: #FFf9f0;
  border-radius: 5px;
}*/

/*code {
  padding: 1px 2px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  font-size: inherit;
}*/


.nuget-commandWrapper {
    background: #d6d6d6;
    border: 0 solid #fff;
    padding: 4px;
    margin: 36px 0;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr='#d6d6d6',endColorstr='#505050');
    background: -webkit-gradient(linear,0 0,0 100%,from(#d6d6d6),to(#505050));
    background: -moz-linear-gradient(top,#d6d6d6,#505050);
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.nuget-commandPrompt {
    background: #000;
    border: 1px solid #c4c4c4;
    text-shadow: 1px 1px 1px rgba(0,0,0,1);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,startColorstr='#5e5e5e',endColorstr='#000');
    background: -webkit-gradient(linear,0 0,0 100%,from(#5e5e5e),to(#000));
    background: -moz-linear-gradient(top,#5e5e5e,#000);
    -webkit-box-shadow: inset 6px 6px 14px rgba(0,0,0,.6),1px 1px 4px rgba(102,102,102,1);
    -moz-box-shadow: inset 6px 6px 14px rgba(0,0,0,.6),1px 1px 4px rgba(102,102,102,1);
    box-shadow: inset 6px 6px 14px rgba(0,0,0,.6),1px 1px 4px rgba(102,102,102,1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.nuget-command {
    color: #fff;
    font-family: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
    font-size: 18px;
    line-height: 18px;
    margin: 18px 8px;
}

.google td {
  border: 0px;
  padding: 0px;
}

code {
  color: #c7254e
}
code a {
  color: #c7254e
}



#toc {

}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    background: #336699;
    box-shadow: inset -5px 0px 10px -5px #000;
}