<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akka.NET</title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="">
    <meta name="author" content="Akka.NET">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
   
    <link type="text/css" rel="stylesheet" href="/content/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="/content/overrides.css" />
    <link type="text/css" rel="stylesheet" href="/content/bootstrap-social-buttons.css" />
    <link type="text/css" rel="stylesheet" href="/content/bsdocs.css" />
    <link type="text/css" rel="stylesheet" href="/content/glyphicons.css" />
    <link type="text/css" rel="stylesheet" href="/content/main.css" />    
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <header class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">
                    <img src="/content/akkanet.png" alt="Akka.NET Logo" />
                </a>
            </div>
           
        </div>
    </header>

    <div id="wrap">
        <div id="main">
            {{ content }}
        </div>        
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
                            <a class="addthis_button_facebook">
                                <img src="/images/Media/facebook.png" width="48" height="48" data-toggle="tooltip" title="Share on Facebook" />
                            </a>
                            <a class="addthis_button_googleplus">
                                <img src="/images/Media/googleplus.png" width="48" height="48" data-toggle="tooltip" title="Share on Google Plus" />
                            </a>
                            <a class="addthis_button_twitter">
                                <img src="/images/Media/twitter.png" width="48" height="48" data-toggle="tooltip" title="Share on Twitter" />
                            </a>
                            <a class="addthis_button_pinterest_share">
                                <img src="/images/Media/pinterest.png" width="48" height="48" data-toggle="tooltip" title="Share on Pinterest" />
                            </a>
                            <a class="addthis_button_linkedin">
                                <img src="/images/Media/linkedin.png" width="48" height="48" data-toggle="tooltip" title="Share on LinkedIn" />
                            </a>
                            <a class="addthis_button_compact">
                                <img src="/images/Media/addthis.png" width="48" height="48" />
                            </a>
                        </div>
                        <!-- AddThis Button END -->
                    </div>
                </div>
            </div>
            <div class="container partners">
                <div class="row">
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-5">

                    </div>
                    <div class="col-md-3">
                        <p>Some info</p>
                        <newsletter />
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <small>
                            Copyright © 2014 Akka |  All rights reserved
                        </small>
                    </div>
                    <div class="col-md-7 text-right">
                        <small>Powered by: JekyllRB</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4dc2621807356d97"></script>
</body>
</html>
