---
layout: master
---

				<div class="parallax parallax-1" style="background-image: url(/assets/images/demo/other/o2.jpg); background-attachment: fixed; background-position: 50% 70px;">
				<span class="parallax-overlay"></span>

				<div class="container parallax-content">

					<div class="row">
						<div class="col-md-5 col-sm-5">
						
							<h1>Custom with parallax</h1>
							<p>Custom header <strong>with parallax effect</strong>. You can customize this heade whatever you want! Highly customizable using bootstrap!</p>

						</div>

						<div class="col-md-7 col-sm-7 text-right">


							<div class="hidden-xs">
								<h4 class="nomargin">Give us a call</h4>
								<h2>800 - 1234 567</h2>
							</div>

						</div>
					</div>

				</div>

			</div>

			<!-- PAGE TOP -->
			<section class="page-title">
				<div class="container">

					<header>

						<ul class="breadcrumb"><!-- breadcrumb -->
							<li><a href="/index.html">Home</a></li>
							<li><a href="/wiki/index.html">Wiki</a></li>
							<li class="active">{% if page.title %} {{ page.title }} {% endif %} <a href="https://github.com/akkadotnet/akka.net/wiki/{{ page.title }}/_edit"> (edit)</a></li>							
						</ul><!-- /breadcrumb -->

						<h2><!-- Page Title -->
							<strong>Akka.NET</strong> Wiki
						</h2><!-- /Page Title -->

					</header>

				</div>			
			</section>
			<!-- /PAGE TOP -->



			<!-- CONTENT -->
			<section>
				<div class="container">

					<div class="row">

						<!-- LEFT COLUMNS -->
						<div class="col-md-9">

							<div>


								{{ content }}

								<div class="sky-form boxed">
									<header>Leave a reply</header>
									<div style="padding:12px;">
									<div id="disqus_thread"></div>
					                <script type="text/javascript">
					                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					                    var disqus_shortname = 'akkanet'; // required: replace example with your forum shortname

					                    /* * * DON'T EDIT BELOW THIS LINE * * */
					                    (function () {
					                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					                    })();
					                </script>
					                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
						            </div>
						        </div>
							</div>

						</div>
						<!-- /LEFT COLUMNS -->

						<!-- RIGHT COLUMNS -->
						<div class="col-md-3">

							{% include Sidebar.html %}
							
						</div>
						<!-- /RIGHT COLUMNS -->

					</div>

				</div>
			</section>
			<!-- /CONTENT -->